body {
    background: #f5f5f5;
}

ul#menu {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
}

ul#menu li {
    display: inline-block;
    height: auto;
    padding: 7px 5px;
}

ul#menu li a:hover {
    text-decoration: none;
}

.product-item {
    width: 19%;
    text-align: center;
}

.product-content {
    border: 1px solid #ccc;
    color: #000;
}

.product-content:hover {
    border: 1px solid #f00;
    color: #f00;
}

.product-image {
    width: 100%;
    /*height: 115px;*/
    height: auto;
    overflow: hidden;
}

.product-image img {
    display: block;
    position: relative;
    width: 100%;
}

.product-name {
    /* display: inline-block; */
    margin-top: 10px;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 48px;
}